.relative{
    position: relative;
}
.thin{
    font-weight: thin;
}
.max-w{
    width: 100%;
}
.p-0{
    padding: 0 !important;
}
.m-0{
    margin: 0 !important
}

//Flex
.flex-align{
    @include flex-align(1 1 auto);
}

//
@include media($sm,'min'){
    .mobile-only{
        display: none;
    }
}
@include media($md,'max'){
    .desktop-only{
        display: none;
    }
}
a{
    position: relative;
    overflow: hidden;
    color: $secundary;
    &:after{
        @include pseudo(absolute,block);
        bottom: -2px;
        height: 1px;
        left: 0;
        width: 0;
        background-color: lighten($secundary,15%);
        font-weight: bolder;
        @extend .fast-e;
    }

    &:hover{
        color: lighten($secundary,15%);
        &:after{
            width: 100%;
        }
    }
}
.table-responsive{
    table{
        width: 100%;
        thead{
            background-color: lighten($primary,8%);
            & > tr > td{
                padding: 15px;
                color: $white;
                &:first-child{
                    border-right: 0px;
                }
                &:last-child{
                    border-left: 0px;
                }
            }
        }
        tbody{
            & > tr{
                @extend .fast-e;
                & > td{
                    border-bottom: 1px solid $light-gray;
                    border-top: 0px;
                    padding: 15px;
                    color: $black;
                    label{
                        justify-content: flex-start !important;
                    }
                }   
                &:hover{
                    background-color: lighten($light-gray,8%);
                }
            }
        }
    }    
}
