//@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,700");

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@import "vars";
@import "animation";
@import "mixins";
@import "override";
@import "global";

/* theme color */
$--color-primary: #123123;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";