body {
  font-family: 'Open Sans','Arial', 'sans-serif';
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a, a:hover {
  text-decoration: none; }

a:focus {
  outline-color: transparent !important;
  outline-width: 0px !important; }

.relative {
  position: relative; }

.thin {
  font-weight: thin; }

.max-w {
  width: 100%; }

.p-0 {
  padding: 0 !important; }

.m-0 {
  margin: 0 !important; }

.flex-align {
  display: flex;
  flex-direction: column; }
  .flex-align > * {
    flex: 1 1 auto; }
  @media (min-width: 768px) {
    .flex-align {
      flex-direction: row; } }

@media (min-width: 768px) {
  .mobile-only {
    display: none; } }
@media (max-width: 992px) {
  .desktop-only {
    display: none; } }
.super-fast-e {
  -webkit-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -moz-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -o-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1) 0s; }

.fast-e, .bg-primary, .bg-dark-primary, .bg-secundary, .bg-dark-secundary, .bg-warning, .bg-error, .bg-medium-gray, .bg-light-gray, .bg-black, .bg-white {
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s; }

.slow-e {
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s; }

.bg-primary {
  background-color: #4589d6;
  border: 0px;
  color: #fff; }
  .bg-primary.btn {
    background-color: #4589d6;
    color: #fff; }
    .bg-primary.btn:hover {
      background-color: #2563a9; }
    .bg-primary.btn.bordered {
      border: 2px solid transparent; }
    .bg-primary.btn.bordered:hover {
      border: 2px solid #4589d6;
      background-color: transparent;
      color: #4589d6; }

.color-primary {
  color: #4589d6; }

.bg-dark-primary {
  background-color: #030027;
  border: 0px;
  color: #fff; }
  .bg-dark-primary.btn {
    background-color: #030027;
    color: #fff; }
    .bg-dark-primary.btn:hover {
      background-color: black; }
    .bg-dark-primary.btn.bordered {
      border: 2px solid transparent; }
    .bg-dark-primary.btn.bordered:hover {
      border: 2px solid #030027;
      background-color: transparent;
      color: #030027; }

.color-dark-primary {
  color: #030027; }

.bg-secundary {
  background-color: #8fcb9b;
  border: 0px;
  color: #fff; }
  .bg-secundary.btn {
    background-color: #8fcb9b;
    color: #fff; }
    .bg-secundary.btn:hover {
      background-color: #5bb36c; }
    .bg-secundary.btn.bordered {
      border: 2px solid transparent; }
    .bg-secundary.btn.bordered:hover {
      border: 2px solid #8fcb9b;
      background-color: transparent;
      color: #8fcb9b; }

.color-secundary {
  color: #8fcb9b; }

.bg-dark-secundary {
  background-color: #55846e;
  border: 0px;
  color: #fff; }
  .bg-dark-secundary.btn {
    background-color: #55846e;
    color: #fff; }
    .bg-dark-secundary.btn:hover {
      background-color: #375547; }
    .bg-dark-secundary.btn.bordered {
      border: 2px solid transparent; }
    .bg-dark-secundary.btn.bordered:hover {
      border: 2px solid #55846e;
      background-color: transparent;
      color: #55846e; }

.color-dark-secundary {
  color: #55846e; }

.bg-warning {
  background-color: #ffd948;
  border: 0px;
  color: #fff; }
  .bg-warning.btn {
    background-color: #ffd948;
    color: #fff; }
    .bg-warning.btn:hover {
      background-color: #fbc600; }
    .bg-warning.btn.bordered {
      border: 2px solid transparent; }
    .bg-warning.btn.bordered:hover {
      border: 2px solid #ffd948;
      background-color: transparent;
      color: #ffd948; }

.color-warning {
  color: #ffd948; }

.bg-error {
  background-color: #CC4B4B;
  border: 0px;
  color: #fff; }
  .bg-error.btn {
    background-color: #CC4B4B;
    color: #fff; }
    .bg-error.btn:hover {
      background-color: #9e2d2d; }
    .bg-error.btn.bordered {
      border: 2px solid transparent; }
    .bg-error.btn.bordered:hover {
      border: 2px solid #CC4B4B;
      background-color: transparent;
      color: #CC4B4B; }

.color-error {
  color: #CC4B4B; }

.bg-medium-gray {
  background-color: #7b7b7b;
  border: 0px;
  color: #fff; }
  .bg-medium-gray.btn {
    background-color: #7b7b7b;
    color: #fff; }
    .bg-medium-gray.btn:hover {
      background-color: #555555; }
    .bg-medium-gray.btn.bordered {
      border: 2px solid transparent; }
    .bg-medium-gray.btn.bordered:hover {
      border: 2px solid #7b7b7b;
      background-color: transparent;
      color: #7b7b7b; }

.color-medium-gray {
  color: #7b7b7b; }

.bg-light-gray {
  background-color: #f2f2f2;
  border: 0px;
  color: #7b7b7b; }
  .bg-light-gray.btn {
    background-color: #f2f2f2;
    color: #7b7b7b; }
    .bg-light-gray.btn:hover {
      background-color: #cccccc; }
    .bg-light-gray.btn.bordered {
      border: 2px solid transparent; }
    .bg-light-gray.btn.bordered:hover {
      border: 2px solid #f2f2f2;
      background-color: transparent;
      color: #f2f2f2; }

.color-light-gray {
  color: #f2f2f2; }

.bg-black {
  background-color: #12130f;
  border: 0px;
  color: #fff; }
  .bg-black.btn {
    background-color: #12130f;
    color: #fff; }
    .bg-black.btn:hover {
      background-color: black; }
    .bg-black.btn.bordered {
      border: 2px solid transparent; }
    .bg-black.btn.bordered:hover {
      border: 2px solid #12130f;
      background-color: transparent;
      color: #12130f; }

.color-black {
  color: #12130f; }

.bg-white {
  background-color: #fff;
  border: 0px;
  color: #7b7b7b; }
  .bg-white.btn {
    background-color: #fff;
    color: #7b7b7b; }
    .bg-white.btn:hover {
      background-color: #d9d9d9; }
    .bg-white.btn.bordered {
      border: 2px solid transparent; }
    .bg-white.btn.bordered:hover {
      border: 2px solid #fff;
      background-color: transparent;
      color: #fff; }

.color-white {
  color: #fff; }

/*# sourceMappingURL=main.css.map */
